:root {
    --color--grey-900: #141414;
    --color--grey-800: #1f1f1f;
    --color--grey-700: #333;
    --color--green: #c4f82a;
    --color--white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color--grey-900);
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: var(--color--grey-800);
    text-align: center;
    padding: 2.5rem;
    margin: auto 2.5rem;
    border-radius: 10px;
}

@media screen and (min-width: 375px) {
    .card {
        width: 325px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: 380px;
        padding: 4rem;
    }
}

.card__header {
    margin-bottom: 2rem;
}

.card__avatar {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
}

.card__heading {
    font-size: 2.4rem;
    color: var(--color--white);
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.card__location {
    margin: 0.2rem 0 2rem 0;
    color: var(--color--green);
    font-weight: 700;
}

.card__description {
    color: #ccc;
}

.card__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card__list-item {
    background: var(--color--grey-700);
    margin: 1.6rem 0 0 0;
    padding: 1.2rem;
    border-radius: 8px;
    font-weight: 700;
    color: var(--color--white);
    transition: all 0.3s;
}

.card__list-item:hover {
    background: var(--color--green);
    cursor: pointer;
    color: var(--color--grey-900);
}

.card__list-item > a {
    text-decoration: none;
    color: inherit;
}